h2,label{
  color: #FF8C00;
  font-size: 30px;
}
input[type=text], input[type=password]{
  background-color:#FF8C00;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
}
button[type=submit]{
  background-color:#FF8C00;
  border: 2px solid #FF8C00;
  border-radius: 25px;
}
.container{
  text-align: center;
  padding-top: 100px
}
body {
  background: ;
}
p{
font-size: 15px;
color:#FF8C00;
}
